<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CI Suite" parallel="methods" thread-count="2">

    <listeners>
        <listener class-name="com.sameer.test.listeners.TestListener"/>
        <listener class-name="com.sameer.test.listeners.RetryListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.sameer.test.tests.LoginTest"/>
        </classes>
    </test>

</suite>